{:paths ["src" "resources"]
 :deps
 {aero/aero                      {:mvn/version "1.1.6"}
  buddy/buddy-hashers            {:mvn/version "2.0.167"}
  hiccup/hiccup                  {:mvn/version "2.0.0-RC5"}
  http-kit/http-kit              {:mvn/version "2.8.0"}
  io.github.camsaul/toucan2      {:mvn/version "1.0.561"}
  metosin/reitit-core            {:mvn/version "0.8.0"}
  metosin/reitit-ring            {:mvn/version "0.8.0"}
  mount/mount                    {:mvn/version "0.1.21"}
  org.postgresql/postgresql      {:mvn/version "42.7.5"}
  ring/ring-core                 {:mvn/version "1.14.1"}
  ring/ring-defaults             {:mvn/version "0.6.0"}}}
