{:paths ["src"]
 :deps
 {aero/aero                      {:mvn/version "1.1.6"}
  buddy/buddy-hashers            {:mvn/version "2.0.167"}
  com.github.igrishaev/pg2-core  {:mvn/version "0.1.36"}
  com.github.igrishaev/pg2-honey {:mvn/version "0.1.36"}
  hiccup/hiccup                  {:mvn/version "2.0.0-RC5"}
  http-kit/http-kit              {:mvn/version "2.8.0"}
  metosin/reitit-core            {:mvn/version "0.8.0"}
  metosin/reitit-ring            {:mvn/version "0.8.0"}
  mount/mount                    {:mvn/version "0.1.21"}
  ring/ring-core                 {:mvn/version "1.14.1"}
  ring/ring-defaults             {:mvn/version "0.6.0"}}}
